---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Gang%20Of%20Four&method=artist.getCorrection
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '272'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><corrections><correction index="0"><artist><name>Gang of Four</name>
        <mbid>d8661c02-f423-4d72-8044-40ff05daf7a1</mbid>
        <url>https://www.last.fm/music/Gang+of+Four</url>
        </artist>
        </correction>
        </corrections>
        </lfm>
  recorded_at: Thu, 13 Aug 2020 08:24:27 GMT
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Gang%20of%20Four&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '10379'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><artist><name>Gang of Four</name>
        <mbid>d8661c02-f423-4d72-8044-40ff05daf7a1</mbid>
        <url>https://www.last.fm/music/Gang+of+Four</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="mega">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <streamable>0</streamable>
        <ontour>0</ontour>
        <stats><listeners>611891</listeners>
        <playcount>10364360</playcount>
        </stats>
        <similar><artist><name>Wire</name>
        <url>https://www.last.fm/music/Wire</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x30[...]
