---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Rage%20Against%20The%20Machine&method=artist.getCorrection
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '296'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><corrections><correction index="0"><artist><name>Rage Against the Machine</name>
        <mbid>3798b104-01cb-484c-a3b0-56adc6399b80</mbid>
        <url>https://www.last.fm/music/Rage+Against+the+Machine</url>
        </artist>
        </correction>
        </corrections>
        </lfm>
  recorded_at: Thu, 13 Aug 2020 06:57:58 GMT
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Rage%20Against%20the%20Machine&method=artist.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '8171'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><artist><name>Rage Against the Machine</name>
        <mbid>3798b104-01cb-484c-a3b0-56adc6399b80</mbid>
        <url>https://www.last.fm/music/Rage+Against+the+Machine</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="mega">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <streamable>0</streamable>
        <ontour>1</ontour>
        <stats><listeners>2952239</listeners>
        <playcount>96346686</playcount>
        </stats>
        <similar><artist><name>Audioslave</name>
        <url>https://www.last.fm/music/Audioslave</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.ne[...]
