<h1 class="max-w-5xl mx-auto text-4xl leading-tight">Albums by Year</h1>

<div class="block max-w-5xl mx-auto">
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @years.each do |year| %>
        <tr>
          <td>
            <%= link_to albums_year_path(year.first) do %><%= year.first %> (<%= year.last %>)<% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
