---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=The%20White%20Album&api_key=<LASTFM_API_KEY>&method=album.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '32579'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><results for="The White Album"><opensearch:Query role="request" searchTerms="The White Album" startPage="1"></opensearch:Query>
        <opensearch:totalResults>29930</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>50</opensearch:itemsPerPage>
        <albummatches><album><name>The Black and White Album</name>
        <artist>The Hives</artist>
        <url>https://www.last.fm/music/The+Hives/The+Black+and+White+Album</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/6d17941a3e3441d7b254c81e7211a3e1.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/6d17941a3e3441d7b254c81e7211a3e1.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/6d17941a3e3441d7b254c81e7211a3e1.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/6d17941a3e3441d7b254c81e7211a3e1.png</image>
        <streamable>0</streamable>
        <mbid>d5aa8a52-f795-41b2-87c6-fdb1975fdb39</mbid>
        </album>
        <album><name>The Beatles (White Album)</name>
        <artist>The Beatles</artist>
        <url>https://www.last.fm/music/The+Beatles/The+Beatles+(White+Album)</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/210f365a483c4e1085a701764a9dcce9.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/210f365a483c4e1085a701764a9dcce9.png</image>
        <image size="large">https:[...]
