---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Call%20Me&api_key=<LASTFM_API_KEY>&artist=Al%20Green&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '4370'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><album><name>Call Me</name>
        <artist>Al Green</artist>
        <mbid>6ac8a071-7ee6-4e25-a36e-237063ec7035</mbid>
        <url>https://www.last.fm/music/Al+Green/Call+Me</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/efec79f0f58d4cc3a171165f7e92d8f6.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/efec79f0f58d4cc3a171165f7e92d8f6.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/efec79f0f58d4cc3a171165f7e92d8f6.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/efec79f0f58d4cc3a171165f7e92d8f6.png</image>
        <image size="mega">https://lastfm.freetls.fastly.net/i/u/300x300/efec79f0f58d4cc3a171165f7e92d8f6.png</image>
        <image size="">https://lastfm.freetls.fastly.net/i/u/300x300/efec79f0f58d4cc3a171165f7e92d8f6.png</image>
        <listeners>84479</listeners>
        <playcount>691103</playcount>
        <tracks><track rank="1"><name>Call Me (Come Back Home)</name>
        <url>https://www.last.fm/music/Al+Green/_/Call+Me+(Come+Back+Home)</url>
        <duration>183</duration>
        <streamable fulltrack="0">0</streamable>
        <artist><name>Al Green</name>
        <mbid>fb7272ba-f130-4f0a-934d-6eeea4c18c9a</mbid>
        <url>https://www.last.fm/music/Al+Green</url>
        </artist>
        </track>
        <track rank="2"><name>Have You Been Making Out O.K.</name>
        <url>https://www.last.fm/music/Al+Green/_/Have+You+Been+Making+Out+O.K.</url>
        <duration>222</duration>
        <streamable fulltrack="0">0</streamable>
        <artist><name>Al Green</name>
        <mbid[...]
