---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Sea%20Change&api_key=<LASTFM_API_KEY>&artist=Beck&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '8159'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><album><name>Sea Change</name>
        <artist>Beck</artist>
        <mbid>09dc8894-bb52-4edd-a31b-e74e30753a44</mbid>
        <url>https://www.last.fm/music/Beck/Sea+Change</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/f82e16247f73436c97f3fd6e6691d382.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/f82e16247f73436c97f3fd6e6691d382.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/f82e16247f73436c97f3fd6e6691d382.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/f82e16247f73436c97f3fd6e6691d382.png</image>
        <image size="mega">https://lastfm.freetls.fastly.net/i/u/300x300/f82e16247f73436c97f3fd6e6691d382.png</image>
        <image size="">https://lastfm.freetls.fastly.net/i/u/300x300/f82e16247f73436c97f3fd6e6691d382.png</image>
        <listeners>694919</listeners>
        <playcount>10118757</playcount>
        <tracks><track rank="1"><name>The Golden Age</name>
        <url>https://www.last.fm/music/Beck/_/The+Golden+Age</url>
        <duration>276</duration>
        <streamable fulltrack="0">0</streamable>
        <artist><name>Beck</name>
        <mbid>a8baaa41-50f1-4f63-979e-717c14979dfb</mbid>
        <url>https://www.last.fm/music/Beck</url>
        </artist>
        </track>
        <track rank="2"><name>Paper Tiger</name>
        <url>https://www.last.fm/music/Beck/_/Paper+Tiger</url>
        <duration>275</duration>
        <streamable fulltrack="0">0</streamable>
        <artist><name>Beck</name>
        <mbid>a8baaa41-50f1-4f63-979e-717c14979dfb</mbid>
       [...]
