---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?album=Willy%20and%20the%20Poor%20Boys&api_key=<LASTFM_API_KEY>&artist=Creedence%20Clearwater%20Revival&method=album.getInfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Cteonnt-Length:
      - '6897'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <lfm status="ok"><album><name>Willy and the Poor Boys</name>
        <artist>Creedence Clearwater Revival</artist>
        <mbid>6d7a7eae-5b6d-482e-a81f-484681aee4ba</mbid>
        <url>https://www.last.fm/music/Creedence+Clearwater+Revival/Willy+and+the+Poor+Boys</url>
        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/25873df9f5c9efc659b76e181716905e.png</image>
        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/25873df9f5c9efc659b76e181716905e.png</image>
        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/25873df9f5c9efc659b76e181716905e.png</image>
        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/25873df9f5c9efc659b76e181716905e.png</image>
        <image size="mega">https://lastfm.freetls.fastly.net/i/u/300x300/25873df9f5c9efc659b76e181716905e.png</image>
        <image size="">https://lastfm.freetls.fastly.net/i/u/300x300/25873df9f5c9efc659b76e181716905e.png</image>
        <listeners>235507</listeners>
        <playcount>2283427</playcount>
        <tracks><track rank="1"><name>Down on the Corner</name>
        <url>https://www.last.fm/music/Creedence+Clearwater+Revival/_/Down+on+the+Corner</url>
        <duration>163</duration>
        <streamable fulltrack="0">0</streamable>
        <artist><name>Creedence Clearwater Revival</name>
        <mbid>44c48a1b-defd-4222-bee6-03f9ee9a7be9</mbid>
        <url>https://www.last.fm/music/Creedence+Clearwater+Revival</url>
        </artist>
        </track>
        <track rank="2"><name>It Came Out of the Sky</name>
        <url>https://www.last.fm/music/Creedence+Clearwater+Revival/_/It+Came+Out+of+the+Sky</url>
        <duration>178</duration>
        <streamable fulltrack="0">0</streamable>
     [...]
