<div class="px-3 py-2 md:px-6 mdpy-4">
  <%= r_page_header do %>
    Editing <%= @album %>
  <% end %>

  <%= render 'form', album: @album %>
</div>

<div class="block my-2 text-center">
  <%= link_to 'Back', @album %>
</div>
